*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 90%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
    text-align: center;
    font-size: 1.5rem;
}
.main-container{
    border: 1px solid black;
    padding: 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.678);
}
.innerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#num{
    font-size: 1.5rem;
    margin: 30px;
}
#rimski{
    margin-top: 40px;
}
button{
    padding: 10px 15px;
    background-color: hsl(229, 100%, 60%);
    border-radius: 10px;
    width: 50%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 1px black;
}
button:hover{
    background-color: hsl(229, 100%, 70%);
}

@media screen and (max-width: 480px) {
    .main-container{
        width: 90%;
        
    }
    #num{
        font-size: 1.2rem;
    }
    
}